@page "/"
                         
<h1>AnchorLink</h1>
<h2>With dynamic charge</h2>

<p>This version is only working from NET 5.0 or hier version. This demo is created with NET 6.0</p>
<p>With this version no need add references in the HTML file, then only charge the JAVASCRIPT when is in use becaseu add the component AcnhorLink.</p>
