@page "/page1"

<h1>Page 1</h1>
<p>
    This page shows you how anchor links behave by default in a Blazor application.
    The table of contents below are anchor links to sections below to show you what
    happens when you click on them.
</p>
<p>
    If you manually type in the anchors in the URL above, you will see the expected
    behaviour, which is different from the behaviour when you click on the links.
</p>
<p>
    The following are all valid anchors that you can try to manually add to the URL:
    <code>#toc</code>, <code>#chapter1</code>, <code>#chapter2</code>, <code>#chapter3</code>
    and , <code>#chapter4</code>
</p>
<p>
    You can try <a href="StandalonePage1.html">this page</a>, which is a standalone static HTML page
    with the same linking as below. On that page, you see how anchor links really should work.
</p>

<h2 id="toc">Table of Contents</h2>

<ul>
    <li><a href="#toc">Table of Contents</a></li>
    <li><a href="#chapter1">Chapter 1</a></li>
    <li><a href="#chapter2">Chapter 2</a></li>
    <li><a href="#chapter3">Chapter 3</a></li>
    <li><a href="#chapter4">Chapter 4</a></li>
</ul>


<h2 id="chapter1">Chapter 1</h2>
<p style="margin-bottom: 120px;">
    A paragraph with a huge bottom margin to make the page scroll.
</p>


<h2 id="chapter2">Chapter 2</h2>
<p style="margin-bottom: 120px;">
    A paragraph with a huge bottom margin to make the page scroll.
</p>


<h2 id="chapter3">Chapter 3</h2>
<p style="margin-bottom: 120px;">
    A paragraph with a huge bottom margin to make the page scroll.
</p>


<h2 id="chapter4">Chapter 4</h2>
<p style="margin-bottom: 1200px;">
    A paragraph with a huge bottom margin to make the page scroll.
</p>
